@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Poppins", sans-serif;

  --breakpoint-3xl: 1920px;

  /* Beryl Color and the Primary Color is #60efb8 */

  --color-beryl-50: #effef9;
  --color-beryl-100: #d6fced;
  --color-beryl-200: #aff9db;
  --color-beryl-300: #60efb8; /*Primary*/
  --color-beryl-400: #30e6a3;
  --color-beryl-500: #00dc8f;
  --color-beryl-600: #00bb78;
  --color-beryl-700: #009a63;
  --color-beryl-800: #007b4f;
  --color-beryl-900: #025f3d;
  --color-beryl-950: #013322;

  /* Eerie Color and the primary color is #212529 */

  --color-eerie-50: #f4f4f5;
  --color-eerie-100: #e2e3e5;
  --color-eerie-200: #c5c6c9;
  --color-eerie-300: #9fa1a4;
  --color-eerie-400: #6f7276;
  --color-eerie-500: #414549;
  --color-eerie-600: #2f3235;
  --color-eerie-700: #26292c;
  --color-eerie-800: #212529; /*Primary*/
  --color-eerie-900: #1b1e21;
  --color-eerie-950: #0f1113;
}

:root {
  --ui-primary: var(--color-beryl-300); /* Green Primary */
  --ui-secondary: var(--color-eerie-800);
  --ui-bg: #ffffff; /* White background */
  --ui-bg-muted: var(--color-eerie-50); /* Soft grey */
  --ui-bg-elevated: var(--color-eerie-50);
  --ui-bg-accented: var(--color-beryl-50); /* Subtle accent */

  --ui-bg-inverted: var(--color-eerie-800); /* For tooltips or reversed UI */

  --ui-text: var(--color-eerie-800); /* Dark grey text */
  --ui-text-muted: var(--color-eerie-500);
  --ui-text-dimmed: var(--color-eerie-400);
  --ui-text-highlighted: var(--color-beryl-700); /* For important accents */

  --ui-border: var(--color-eerie-200); /* Soft border */
  --ui-border-muted: var(--color-eerie-100);
  --ui-border-accented: var(--color-beryl-300);
  --ui-border-inverted: #ffffff;

  --ui-container: var(--container-6xl);
}

.dark {
  --ui-primary: var(--color-beryl-300); /* Softer green */
  --ui-secondary: var(--color-white);
  --ui-bg: var(--color-eerie-900); /* Deep black */
  --ui-bg-muted: var(--color-eerie-900);
  --ui-bg-elevated: var(--color-eerie-800);
  --ui-bg-accented: var(--color-eerie-700);
  --ui-bg-inverted: var(--color-white); /* Used in modals/popups */

  --ui-text: var(--color-eerie-100); /* Almost white */
  --ui-text-muted: var(--color-eerie-300);
  --ui-text-dimmed: var(--color-eerie-500);
  --ui-text-highlighted: var(--color-beryl-300);

  --ui-border: var(--color-eerie-700); /* Medium grey */
  --ui-border-muted: var(--color-eerie-500);
  --ui-border-accented: var(--color-beryl-500);
  --ui-border-inverted: var(--color-white);

  --ui-container: var(--container-6xl);
}

/* assets/css/main.css */
.flex-between {
  @apply w-full flex flex-row justify-between;
}

.flex-justify {
  @apply w-full flex flex-row justify-center;
}

.flex-center {
  @apply flex flex-row justify-center items-center;
}

.text-font {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 20px 20px 25px 20px;
}

.heading-hero {
  font-size: 100px;
  font-weight: 600;
  line-height: 0.9em;
}

.small-heading {
  @apply text-xl font-semibold leading-[0.2] text-secondary;
}

.sub-heading {
  @apply text-[46px] tracking-tight font-medium leading-[1.08] py-[30px];
}

.normal-text {
  @apply text-[15px] font-normal leading-[24px];
}

/* Tailwind Typography */
.prose {
  --tw-prose-body: var(--color-text);
  --tw-prose-headings: var(--color-jet);
  --tw-prose-links: #2563eb;
  --tw-prose-links-hover: #1d4ed8;
  --tw-prose-code: #111;
  --tw-prose-pre-bg: #f3f4f6;
  --tw-prose-bold: #000;
  --tw-prose-bullets: var(--color-jet);
  --tw-prose-quotes: #4b5563;
  --tw-prose-quote-borders: #d1d5db;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;

  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.75;
}

.prose h1,
.prose h2,
.prose h3 {
  font-family: var(--font-sans);
  color: var(--color-jet);
}

.prose h1 {
  @apply text-[46px] tracking-tight font-medium leading-[1.08] text-[var(--color-jet)] pt-[30px];
}

.prose p {
  color: var(--tw-prose-body);
  margin: 1.3rem 0rem;
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 0.008em;
}

.prose h2 {
  letter-spacing: -0.03em;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
}

.prose h3 {
  letter-spacing: -0.03em;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.25;
}

.prose a {
  text-decoration: none;
  font-weight: 500;
  color: #2563eb;
}

.prose a:hover {
  text-decoration: underline;
  color: #1d4ed8;
}

.prose code {
  background-color: #f3f4f6;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}

.prose blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  color: #555;
  font-style: italic;
  margin: 1rem 0;
}

.prose ul {
  list-style-type: disc;
  mask-position: inside;
  margin-left: 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding-left: 0;
  color: var(--tw-prose-body);
  font-size: 0.9rem;
  line-height: 1.8;
}

.prose ol {
  list-style-type: decimal;
  mask-position: inside;
  margin-left: 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding-left: 0;
  color: var(--tw-prose-body);
  font-size: 0.9rem;
  line-height: 1.5;
}

.prose li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.prose li::marker {
  color: var(--color-jet);
  font-weight: 500;
}
